@model PL.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}
<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.LabelFor(m => m.OldPassword, "Enter old password:")
    <br />
    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(m => m.NewPassword, "Enter new password:")
    <br />
    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(m => m.ConfirmPassword, "Confirm new password:")
    <br />
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    <br />
    @Html.ActionLink("Go back", "Index", "Account", null, new { @class = "btn btn-dark btn-lg" })
    <input type="submit" value="Change password" class="btn btn-warning btn-lg" />
}

