@model ICollection<PL.Models.OrderViewModel>
@{
    ViewBag.Title = "Orders";
}
<h2>@ViewBag.Title</h2>
<table class="table table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Date</th>
            <th>Client Name</th>
            <th>Employee Name</th>
            <th>Pizzas</th>
            <th>Total cost</th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null && Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <th>@item.Date</th>
                @if (item.Client != null)
                {
                    <th>
                        @Html.ActionLink(item.Client.Name, "ShowClient", "Order", new
                   {
                       name = item.Client.Name,
                       address = item.Client.Address,
                       email = item.Client.Email,
                       phone = item.Client.Phone
                   }, new { @class = "btn btn-outline-primary" })
                    </th>
                }
                else
                {
                    <th>
                        No information
                    </th>
                }
                @if (item.Employee != null)
                {
                    <th>
                        @Html.ActionLink(item.Employee.Name, "ShowEmployee", "Order", new
                   {
                       name = item.Employee.Name,
                       address = item.Employee.Address,
                       email = item.Employee.Email,
                       phone = item.Employee.Phone,
                       salary = item.Employee.Salary,
                       position = item.Employee.Position
                   }, new { @class = "btn btn-outline-primary" })
                    </th>
                }
                else
                {
                    <th>
                        @Html.ActionLink("Take order", "TakeOrder", "Order", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </th>
                }
                <th>
                    @if (item.AccountingImplementation)
                    {
                        <p>Completed</p>
                    }
                    else
                    {
                        <p>Not completed</p>

                    }
                </th>
                <th>
                    @{
                        SelectList pizzas = new SelectList(item.Pizzas);
                    }
                    @Html.DropDownList("Pizza", pizzas as SelectList, new { @class = "custom-select" })

                </th>
                <th>
                    @{
                        double cost = 0;
                        foreach (var item1 in item.Pizzas)
                        {
                            cost += item1.Quantity * item1.PizzaObject.Price;
                        }
                    }
                    @cost $
                </th>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="text-center">No orders</td>
        </tr>
    }
</table>

