@model IEnumerable<PL.Models.OrderViewModel>

@{
    ViewBag.Title = "Orders";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Date</th>
            <th>Client Name</th>
            <th>Employee Name</th>
            <th>Implementation</th>
            <th>Pizzas</th>
            <th>Total cost</th>
        </tr>
    </thead>
    @if (Model != null && Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <th>@item.Date</th>
                <th>
                    @Html.ActionLink(item.Client.Name, "ShowClient", "Order", new
               {
                   name = item.Client.Name,
                   address = item.Client.Address,
                   email = item.Client.Email,
                   phone = item.Client.Phone
               }, new { @class = "btn btn-outline-primary" })
                </th>
                @if (item.Employee != null)
                {
                    <th>
                        @Html.ActionLink(item.Employee.Name, "ShowEmployee", "Order", new
                   {
                       name = item.Employee.Name,
                       address = item.Employee.Address,
                       email = item.Employee.Email,
                       phone = item.Employee.Phone,
                       salary = item.Employee.Salary,
                       position = item.Employee.Position
                   }, new { @class = "btn btn-outline-primary" })
                    </th>
                }
                else
                {
                    <th>Order not accepted</th>
                }
            <th>
                @if (item.AccountingImplementation)
                {
                    @Html.ActionLink("Cancel execution", "ExecuteOrder", new { id = item.Id, flag = false }, new { @class = "btn btn-outline-primary" })
                }
                else
                {
                    @Html.ActionLink("Execute", "ExecuteOrder", new { id = item.Id, flag = true }, new { @class = "btn btn-primary" })
                }
            </th>
                <th>
                    @{
                        SelectList pizzas = new SelectList(item.Pizzas);
                    }

                    @Html.DropDownList("Pizza", pizzas as SelectList, new { @class = "custom-select" })

                </th>
                <th>
                    @{
                        double cost = 0;
                        foreach (var item1 in item.Pizzas)
                        {
                            cost += item1.Quantity * item1.PizzaObject.Price;
                        }
                    }
                    @cost $
                </th>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6" class="text-center">No orders</td>
        </tr>
    }
</table>

