@using System.Text.Json;
@using PL.Models;
@using PL.RoleManager;
@model ICollection<PL.Models.PizzaViewModel>
@{
    ViewBag.Title = "Catalog";
    IEnumerable<RoleViewModel> roles;
    bool login = HttpContext.Current.Request.Cookies["user"] == null || HttpContext.Current.Request.Cookies["user"].Value == "";
    if (login)
    {
        roles = new List<RoleViewModel>();
    }
    else
    {
        roles = JsonSerializer.Deserialize<UserRoleViewModel>(HttpContext.Current.Request.Cookies["user"].Value).Roles;
    }

    string mb = String.Empty;
    if (RolesManager.IsPizzaManager(roles))
    {
        mb = "mb-4";
    }
}
<style>
    .block {
        visibility: hidden
    }

    .holder:hover .block {
        visibility: visible
    }

    .block:hover {
        visibility: visible
    }

    .grow:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
</style>

<h2>@ViewBag.Title</h2>
<hr />
@if (Model != null)
{
    <div class="row row-cols-1 row-cols-md-4 g-4">

        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card mb-3 shadow holder grow h-100">
                    <img src="@item.Image" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text overflow-multiply">Price: @item.Price $</p>
                        @if (RolesManager.IsPizzaManager(roles))
                        {
                            <div class="block">
                                @Html.ActionLink("Update", "Update", "Pizza", new { id = item.Id, }, new { @class = "btn btn-warning" })
                                @Html.ActionLink("Delete", "Delete", "Pizza", new { id = item.Id, }, new { @class = "btn btn-danger" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
@if (RolesManager.IsPizzaManager(roles))
{
    <hr />
    @Html.ActionLink("Add pizza", "Create", "Pizza", new { @class = "btn btn-dark btn-lg btn-block" })
}