@using System.Text.Json;
@using PL.Models;
@using PL.RoleManager;
@{
    IEnumerable<RoleViewModel> roles;
    bool login = HttpContext.Current.Request.Cookies["user"] == null || HttpContext.Current.Request.Cookies["user"].Value == "";
    if (login)
    {
        roles = new List<RoleViewModel>();
    }
    else
    {
        roles = JsonSerializer.Deserialize<UserRoleViewModel>(HttpContext.Current.Request.Cookies["user"].Value).Roles;
    }
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pizzeria</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding:0">
    <div class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            @Html.ActionLink("Pizzeria", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">@Html.ActionLink("Catalog", "Index", "Pizza", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Comments", "Index", "Comment", null, new { @class = "nav-link" })</li>
                    @if (RolesManager.IsUser(roles))
                    {
                        <li class="nav-item">@Html.ActionLink("Make an order", "Create", "Order", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("My orders", "Index", "MyOrders", null, new { @class = "nav-link" })</li>
                    }
                    @if (RolesManager.IsReciver(roles))
                    {
                        <li class="nav-item">@Html.ActionLink("Take orders", "ShowOrder", "Order", null, new { @class = "nav-link" })</li>
                    }
                    @if (RolesManager.IsExecutor(roles))
                    {
                        <li class="nav-item">@Html.ActionLink("Сomplete order", "ShowOrderForExecutor", "Order", null, new { @class = "nav-link" })</li>
                    }
                    @if (RolesManager.IsEmployeeManager(roles))
                    {
                        <li class="nav-item">@Html.ActionLink("Employees", "Index", "Employee", null, new { @class = "nav-link" })</li>
                    }
                    @if (RolesManager.IsClientManager(roles))
                    {
                        <li class="nav-item">@Html.ActionLink("Clients", "Index", "Client", null, new { @class = "nav-link" })</li>
                    }
                    @if (RolesManager.IsAccountant(roles))
                    {
                        <li class="nav-item">@Html.ActionLink("Reports", "Index", "Report", null, new { @class = "nav-link" })</li>
                    }
                </ul>
                <div>
                    <ul class="navbar-nav flex-grow-1">
                        @if (login)
                        {

                            <li class="nav-item">@Html.ActionLink("Sign in", "Index", "Login", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Sign up", "Create", "Client", null, new { @class = "nav-link" })</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("Account", "Index", "Account", null, new { @class = "nav-link" })</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pizzeria</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ticketSite.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.."></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive.."></script>
    @RenderSection("scripts", required: false)
</body>
</html>
